.menu{
    display: flex;
    justify-content: center;
    gap: 12px;
    background: #95bbe1;
    padding: 10px;
}

.header__menu-link{
    display: inline-block;
    background: #9db5e8;
    color: rgb(89, 100, 109);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 40px;
    font-weight: 600;
}

.header__menu-link:hover{
     background: #d9aff3;
}

h1{
    text-align: center;
}

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    background: #ffbcbc;
}

.card{
   margin-top: 120px;
   flex: 1 1 220px;
   background: #95bbe1;
   border: 2px solid #38bdf8;
   border-radius: 12px;
   padding: 16px;
   text-align: center;
   font-size: 600;
}

.card--big{
    flex-grow: 2;
    background: #9dcbe8;
    border-color: antiquewhite;
}

.knopka{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background: #fee8e8;
    transition:backgroun-color 0.5s;
}
.knopka:hover{background: #accced;}

.btn{
    padding: 12px 18px;
    border-radius: 10px;
    border: 0;
    background: #fee8e8;
    color: #621a1a;
    font: 600 16px/1 system-ui, Arial;
    cursor: pointer;
    transition: background-color 0.5s;
}
.btn:hover{background: #accced;}

.container{
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 100px 100px;
    gap: 10px;
}

.item{
   background: #d9aff3;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
}

body{
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 50px;
    gap: 10px;
}

.header{ grid-area: header; background: #fee8e8;}
.sidebar{ grid-area: sidebar; background: #95bbe1;}
.main{grid-area: main; background: #d9aff3;}
.footer{grid-area: footer; background: #9dcbe8;}


.chessboard {
    background: #316787;
    padding: 50px;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 50px); 
    grid-template-rows: repeat(8, 50px);
    gap: 5px;
    padding: 20px;
    justify-self: center;
    border: 2px solid #31629a;
    border-radius: 10px;
    background: #85a6b5;
}

.square{ 
    width: 50px;
    height: 50px;
    border-radius: 10px;
 } 

.square:nth-child(odd)  { background: #fff; }
.square:nth-child(even) { background: #000; }

.square:nth-child(n+9):nth-child(-n+16),
.square:nth-child(n+25):nth-child(-n+32),
.square:nth-child(n+41):nth-child(-n+48),
.square:nth-child(n+57):nth-child(-n+64) {
  filter: invert(1);
}

@media (max-width: 600px){
    .header__menu-link{
        flex-direction: column;
        gap: 10px;
    }
}

.photo{
    width: 80%;
    margin: 0 auto;
}

.photo_img{
    max-width: 100%;
    height: auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.grid_item{
    background: #fee8e8;
    padding: 20px;
    text-align: center;
}

@media (max-width: 1024px){
    .grid{
       grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .grid{
       grid-template-columns: 1fr;
    }
}

@keyframes spin{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg);}
}

.btn{
    animation: spin 2s linear infinite;
}

@keyframes jump{
    0%{transform: translateY(0);}
    50%{transform: translateY(-50px);}
    100%{transform: translateY(0);}
}

.boll{
    width: 60px;
    height: 60px;
    background: #31629a;
    border-radius: 50%;
    animation: jump 1s ease-in-out infinite;
}

@keyframes blink{
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.btn{
    animation: blink 1s infinite;
}

.animation{
    padding: 12px 18px;
    border-radius: 12px;
    border: #000;
    color: #d9aff3;
    background: #31629a;
    cursor: pointer;
    transition: transform .6s cubic-bezier(.68,-.55,.27,1.55), all .3s ease;
}
.animation:hover{transform: scale(2); background: #85a6b5;}

.a-underline{
    position: relative;
    text-decoration: none;
    color: #85a6b5;
}

.a-underline::after{
    content:"";
    position: absolute; left: 0; bottom: -2px;
    height: 2px; width: 100%;
    background: #5e0303;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}

.a-underline:hover::after{
    transform: scaleX(1);
}

.fade_in{
    opacity:0;
    transform: translateY(12px);
    animation: appear 600ms ease forwards;
}
@keyframes appear{
    to{
        opacity:1;
        transform: translateY(0);
    }
}